body {
  font-family: Arial, sans-serif;
  color: #f1f1f1;
  background-color: #333333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #333333;
  color: white;
  text-align: center;
}

ul.main_navigation_bar_list > li {
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: underline;
}


.WelcomeIntroduction {
  text-align: justify;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 20px;
  line-height: 30px;
}


body.cv_body {
  text-align: justify;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 20px;
  line-height: 30px;
}



/*link styles*/
a {
  color: #f0eef3;
}
a:visited {
  color: #f0eef3;
}
a:hover {
  color: #f0eef3;
}
a:active {
  color: #f0eef3;
}


footer {
  color: #f1f1f1;
  text-align: center;
  padding: 10px;
  background-color: #333333;
}

